<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/html" layout:decorate="~{fragments/layout}" lang="en">

<body>
	<th:block layout:fragment="content">
		<div class="container">
			<section class="vh-100">
				<div class="container-fluid h-custom">
					<div th:if="${accountCreated}">
						<div class="alert alert-success">Account created succefulty.</div>
					</div>
					<div class="row d-flex justify-content-center align-items-center h-100">

						<div class="col-md-9 col-lg-6 col-xl-5">
							<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
								alt="Sample image">
						</div>

						<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
							<div th:if="${param.error}">
								<div class="alert alert-danger">Invalid username or password.</div>
							</div>
							<div th:if="${param.logout}">
								<div class="alert alert-info">You have been logged out.</div>
							</div>
							<form th:action="@{/login}" method="post">
								<div class="form-outline mb-4">
									<label class="form-label" for="form3Example3">Email address</label> <input type="email" id="form3Example3"
										class="form-control form-control-lg" placeholder="Enter a valid email address" name="email" />
								</div>
								<div class="form-outline mb-3">
									<label class="form-label" for="form3Example4">Password</label> <input type="password" id="form3Example4"
										class="form-control form-control-lg" placeholder="Enter password" name="password" />
								</div>
								<div class="text-center text-lg-start mt-4 pt-2">
									<button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
									<p class="small fw-bold mt-2 pt-1 mb-0">
										Don't have an account? <a th:href="@{/register}" class="link-danger">Register</a>
									</p>
								</div>

							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
	</th:block>
</body>

</html>

